<?xml version="1.0" encoding="UTF-8" standalone="yes"?><params><host></host><root>C:\</root><isHighlightEnabled>true</isHighlightEnabled><isLineNumbersEnabled>true</isLineNumbersEnabled><framePositionX>934</framePositionX><framePositionY>197</framePositionY><frameWidth>774</frameWidth><frameHeight>696</frameHeight><dividerLocation>297</dividerLocation></params>