<?xml version="1.0" encoding="UTF-8" standalone="yes"?><params><host>localhost:8080</host><root>C:\</root><isHighlightEnabled>true</isHighlightEnabled><isLineNumbersEnabled>true</isLineNumbersEnabled><framePositionX>680</framePositionX><framePositionY>133</framePositionY><frameWidth>1125</frameWidth><frameHeight>826</frameHeight><dividerLocation>413</dividerLocation></params>