<?xml version="1.0" encoding="UTF-8" standalone="yes"?><params><host>http://localhost:8080</host><root>/home/gridasov/messages</root><isHighlightEnabled>true</isHighlightEnabled><isLineNumbersEnabled>true</isLineNumbersEnabled><framePositionX>803</framePositionX><framePositionY>33</framePositionY><frameWidth>1117</frameWidth><frameHeight>996</frameHeight><dividerLocation>606</dividerLocation></params>